In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
food_data = pd.read_csv('./2013_2014day1data.csv')

In [3]:
food_data.columns

Index(['SEQN', 'WTDRD1', 'WTDR2D', 'DR1ILINE', 'DR1DRSTZ', 'DR1EXMER', 'DRABF',
       'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1CCMNM', 'DR1CCMTX',
       'DR1_020', 'DR1_030Z', 'DR1FS', 'DR1_040Z', 'DR1IFDCD', 'DR1IGRMS',
       'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ISUGR', 'DR1IFIBE', 'DR1ITFAT',
       'DR1ISFAT', 'DR1IMFAT', 'DR1IPFAT', 'DR1ICHOL', 'DR1IATOC', 'DR1IATOA',
       'DR1IRET', 'DR1IVARA', 'DR1IACAR', 'DR1IBCAR', 'DR1ICRYP', 'DR1ILYCO',
       'DR1ILZ', 'DR1IVB1', 'DR1IVB2', 'DR1INIAC', 'DR1IVB6', 'DR1IFOLA',
       'DR1IFA', 'DR1IFF', 'DR1IFDFE', 'DR1ICHL', 'DR1IVB12', 'DR1IB12A',
       'DR1IVC', 'DR1IVD', 'DR1IVK', 'DR1ICALC', 'DR1IPHOS', 'DR1IMAGN',
       'DR1IIRON', 'DR1IZINC', 'DR1ICOPP', 'DR1ISODI', 'DR1IPOTA', 'DR1ISELE',
       'DR1ICAFF', 'DR1ITHEO', 'DR1IALCO', 'DR1IMOIS', 'DR1IS040', 'DR1IS060',
       'DR1IS080', 'DR1IS100', 'DR1IS120', 'DR1IS140', 'DR1IS160', 'DR1IS180',
       'DR1IM161', 'DR1IM181', 'DR1IM201', 'DR1IM221', 'DR1IP182', 'DR1IP183',
       'DR1IP184', 'DR1IP204', 'DR1IP205', 'DR1IP225', 'DR1IP226'],
      dtype='object')

In [4]:
food_data.SEQN.count()

131400

In [5]:
food_data_abridged = food_data[["SEQN", "DR1IFDCD", "DR1IGRMS" ]]

In [6]:
food_data_abridged

                SEQN  DR1IFDCD  DR1IGRMS
0       7.355700e+04  32202075     84.00
1       7.355700e+04  92101000    359.10
2       7.355700e+04  91107000      2.00
3       7.355700e+04  61210250    449.50
4       7.355700e+04  61119010    131.00
5       7.355700e+04  91715100     42.75
6       7.355700e+04  63141140    220.50
7       7.355700e+04  71201050      8.50
8       7.355700e+04  27510690    173.50
9       7.355700e+04  92410310    620.00
10      7.355700e+04  94000100    960.00
11      7.355800e+04  92101000    600.00
12      7.355800e+04  11111000    152.50
13      7.355800e+04  26319143   1200.00
14      7.355800e+04  93102000   3840.00
15      7.355800e+04  27250130    665.00
16      7.355800e+04  27250110    665.00
17      7.355800e+04  11111000    366.00
18      7.355800e+04  94000100    360.00
19      7.355900e+04  57123000     21.00
20      7.355900e+04  91107000      3.00
21      7.355900e+04  11113000    183.00
22      7.355900e+04  51101060     40.00
23      7.355900e+04  81103080      9.54
24      7.355900e+04  64100200    155.00
25      7.355900e+04  51186010     58.00
26      7.355900e+04  81103080      4.77
27      7.355900e+04  42202000      5.33
28      7.355900e+04  91405000      6.25
29      7.355900e+04  64100200    155.00
...              ...       ...       ...
131370  8.373100e+04  42116055     20.25
131371  8.373100e+04  91102010      6.88
131372  8.373100e+04  11113000    366.00
131373  8.373100e+04  91301080     37.50
131374  8.373100e+04  94000100    150.00
131375  8.373100e+04  58106225    178.08
131376  8.373100e+04  63101000    182.00
131377  8.373100e+04  53204010     50.00
131378  8.373100e+04  11511000    248.00
131379  8.373100e+04  51108100     76.34
131380  8.373100e+04  41304991     49.00
131381  8.373100e+04  75440310     57.00
131382  8.373100e+04  63107010    118.00
131383  8.373100e+04  11111000    160.58
131384  8.373100e+04  11113000    160.58
131385  8.373100e+04  11830160     29.40
131386  8.373100e+04  91734100      7.00
131387  8.373100e+04  92552030    186.00
131388  8.373100e+04  56205008    138.25
131389  8.373100e+04  71403000     97.00
131390  8.373100e+04  75205041     39.38
131391  8.373100e+04  41304991     55.13
131392  8.373100e+04  11411100     91.88
131393  8.373100e+04  94000100    150.00
131394  3.687825e-40  94000100    150.00
131395  3.687825e-40  94000100    150.00
131396  3.687825e-40  94000100    150.00
131397  3.687825e-40  94000100    150.00
131398  3.687825e-40  94000100    150.00
131399  3.687825e-40  94000100    150.00

[131400 rows x 3 columns]

In [17]:
#i created the ranges by looking at the foodcode csv in excel. I thought originally that we would manipulate the foodcode 
#csv, but i could not open it properly. In the end, i think it is just for our reference in order to parse out the different
#categories using cut.
#unless envision some other way of doing this.
#the issue with the foodcode csv was that there was a non UTF-8 character in it, so decoding it to unicode woudl 
#probably help you feel like you want to use that csv somehow in sorting the food consumption csv.

ranges = [75100800,75100801, 75202000, 75202036]
labels = ["Raw Asparagus", "nothing", "Cooked Asparagus"]
food_data_abridged["Asparagus_consumed"] = pd.cut(food_data_abridged.DR1IFDCD, ranges, labels=labels, right=False, include_lowest=True)

/Users/robertdiaz/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [18]:
food_data_abridged.columns

Index(['SEQN', 'DR1IFDCD', 'DR1IGRMS', 'Asparagus consumed',
       'Asparagus_consumed'],
      dtype='object')

In [21]:
food_data_abridged.Asparagus_consumed[(food_data_abridged.Asparagus_consumed == "Raw Asparagus") | (food_data_abridged.Asparagus_consumed == "Cooked Asparagus") ].count()
#this looks legit based on sorting for the range of asparagus values and gazing at the excel file of this csv

68

In [23]:
food_data_abridged.columns

Index(['SEQN', 'DR1IFDCD', 'DR1IGRMS', 'Asparagus_consumed'], dtype='object')

In [25]:
food_data_abridged.groupby('SEQN').count()
#8662 unique SEQN entires (people surveyed)
#my initial instinct was to format the SEQN column (which i don't know how to do actually, and we will have to format
#averages actually), but now i'm thinking maybe not actually, we won't ever report them. It will eventually just be 
# grams asparagus by average person or men/women or age range.

              DR1IFDCD  DR1IGRMS  Asparagus_consumed
SEQN
3.687825e-40         6         6                   0
7.355700e+04        11        11                   0
7.355800e+04         8         8                   0
7.355900e+04        27        27                   1
7.356000e+04        19        19                   0
7.356100e+04         7         7                   0
7.356200e+04        17        17                   0
7.356300e+04        10        10                   0
7.356400e+04        21        21                   2
7.356600e+04        14        14                   0
7.356700e+04         7         7                   0
7.356800e+04        30        30                   0
7.357000e+04        15        15                   0
7.357100e+04        14        14                   0
7.357200e+04        12        12                   0
7.357400e+04        35        35                   2
7.357500e+04        11        11                   0
7.357600e+04         6         6                   0
7.357700e+04        12        12                   1
7.357800e+04         7         7                   0
7.357900e+04        15        15                   1
7.358000e+04        18        18                   1
7.358100e+04        17        17                   0
7.358300e+04        17        17                   1
7.358400e+04         7         7                   1
7.358500e+04         8         8                   0
7.358600e+04        12        12                   0
7.358700e+04         8         8                   0
7.358800e+04        17        17                   0
7.358900e+04        13        13                   0
...                ...       ...                 ...
8.369400e+04        29        29                   2
8.369500e+04        17        17                   0
8.369600e+04        12        12                   0
8.369800e+04         7         7                   0
8.369900e+04        24        24                   4
8.370000e+04        25        25                   0
8.370100e+04        19        19                   0
8.370200e+04        18        18                   2
8.370300e+04         7         7                   0
8.370400e+04        10        10                   1
8.370500e+04        13        13                   0
8.370700e+04         8         8                   0
8.370800e+04         8         8                   0
8.370900e+04        27        27                   2
8.371000e+04         6         6                   0
8.371100e+04         4         4                   0
8.371200e+04         9         9                   0
8.371300e+04        16        16                   1
8.371400e+04        11        11                   0
8.371500e+04        16        16                   2
8.371600e+04        16        16                   0
8.371700e+04         7         7                   0
8.372100e+04        15        15                   0
8.372200e+04         7         7                   0
8.372300e+04        14        14                   2
8.372400e+04        24        24                   1
8.372700e+04        24        24                   0
8.372800e+04        19        19                   0
8.372900e+04        31        31                   8
8.373100e+04        27        27                   0

[8662 rows x 3 columns]

In [35]:
food_data_abridged.groupby('DR1IFDCD').DR1IFDCD.value_counts().describe()
#hmm..i want to know what the top, bottom foodcodes are - this just gives me the number of instances of the max and min
#occuring food codes.

count    4914.000000
mean       26.739927
std       173.383642
min         1.000000
25%         2.000000
50%         4.000000
75%        14.000000
max      8101.000000
Name: DR1IFDCD, dtype: float64

In [40]:
sorted_for_foodcodes = food_data_abridged.groupby('DR1IFDCD').DR1IFDCD.value_counts()
#uggh...how do I retreive the foodcode with 8101 instances?

DR1IFDCD  DR1IFDCD
11000000  11000000     696
11100000  11100000     187
11111000  11111000    1556
11111170  11111170       1
11112110  11112110    2268
11112210  11112210     648
11113000  11113000     531
11114300  11114300      12
11114320  11114320      11
11114330  11114330      35
11114350  11114350      21
11115100  11115100       5
11115200  11115200       4
11115300  11115300       2
11115400  11115400       6
11116000  11116000       5
11120000  11120000       3
11121100  11121100       1
11121210  11121210       4
11121300  11121300       2
11210050  11210050      15
11211050  11211050      21
11211400  11211400       5
11212050  11212050       2
11220000  11220000      13
11320000  11320000     112
11320100  11320100      16
11320200  11320200       9
11321000  11321000       4
11340000  11340000       1
                      ...
95201500  95201500       8
95202000  95202000       7
95210000  95210000       3
95220010  95220010      18
95230000  95230000      31
95230010  95230010       5
95230020  95230020       3
95230030  95230030      39
95310200  95310200       2
95310400  95310400      46
95310500  95310500       2
95310560  95310560       1
95310600  95310600      27
95310700  95310700       5
95310750  95310750       1
95311000  95311000      12
95312400  95312400      13
95312500  95312500       2
95312600  95312600       2
95312700  95312700       6
95312900  95312900       2
95313200  95313200       8
95320200  95320200     326
95320500  95320500      85
95322200  95322200      42
95322500  95322500      16
95323000  95323000       2
95330100  95330100      15
95341000  95341000       1
95342000  95342000       5
Name: DR1IFDCD, dtype: int64

In [24]:
food_data_abridged.groupby(['SEQN', 'Asparagus_consumed'])[['DR1IGRMS']].mean()
#i'm going to have to figure out a way to filter out the 'nothing" column that i created during the cut. Probably
#using a function to select out asparagus, but actually, before that should add raw and cooked asparagus together

#or maybe could do a cut on the original dataframe for raw and then do it again on original dataframe for cooked and
#then do a vertical stack?

                                 DR1IGRMS
SEQN         Asparagus_consumed
3.687825e-40 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.355700e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.355800e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.355900e+04 Raw Asparagus            NaN
             nothing                8.750
             Cooked Asparagus         NaN
7.356000e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.356100e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.356200e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.356300e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
7.356400e+04 Raw Asparagus            NaN
             nothing               34.000
             Cooked Asparagus         NaN
7.356600e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
...                                   ...
8.371600e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.371700e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.372100e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.372200e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.372300e+04 Raw Asparagus            NaN
             nothing               18.375
             Cooked Asparagus         NaN
8.372400e+04 Raw Asparagus            NaN
             nothing                8.000
             Cooked Asparagus         NaN
8.372700e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.372800e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN
8.372900e+04 Raw Asparagus            NaN
             nothing               21.605
             Cooked Asparagus         NaN
8.373100e+04 Raw Asparagus            NaN
             nothing                  NaN
             Cooked Asparagus         NaN

[25986 rows x 1 columns]