In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
foodconsumption_data = pd.read_csv('./2013_2014day1data.csv')
foodcode_data = pd.read_csv('./Foodcode_2013_2014.csv')

In [41]:
foodcode_data.columns

Index(['DRXFDCD', 'DRXFCSD', 'DRXFCLD'], dtype='object')

In [42]:
foodconsumption_data.columns

Index(['SEQN', 'WTDRD1', 'WTDR2D', 'DR1ILINE', 'DR1DRSTZ', 'DR1EXMER', 'DRABF',
       'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1CCMNM', 'DR1CCMTX',
       'DR1_020', 'DR1_030Z', 'DR1FS', 'DR1_040Z', 'DR1IFDCD', 'DR1IGRMS',
       'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ISUGR', 'DR1IFIBE', 'DR1ITFAT',
       'DR1ISFAT', 'DR1IMFAT', 'DR1IPFAT', 'DR1ICHOL', 'DR1IATOC', 'DR1IATOA',
       'DR1IRET', 'DR1IVARA', 'DR1IACAR', 'DR1IBCAR', 'DR1ICRYP', 'DR1ILYCO',
       'DR1ILZ', 'DR1IVB1', 'DR1IVB2', 'DR1INIAC', 'DR1IVB6', 'DR1IFOLA',
       'DR1IFA', 'DR1IFF', 'DR1IFDFE', 'DR1ICHL', 'DR1IVB12', 'DR1IB12A',
       'DR1IVC', 'DR1IVD', 'DR1IVK', 'DR1ICALC', 'DR1IPHOS', 'DR1IMAGN',
       'DR1IIRON', 'DR1IZINC', 'DR1ICOPP', 'DR1ISODI', 'DR1IPOTA', 'DR1ISELE',
       'DR1ICAFF', 'DR1ITHEO', 'DR1IALCO', 'DR1IMOIS', 'DR1IS040', 'DR1IS060',
       'DR1IS080', 'DR1IS100', 'DR1IS120', 'DR1IS140', 'DR1IS160', 'DR1IS180',
       'DR1IM161', 'DR1IM181', 'DR1IM201', 'DR1IM221', 'DR1IP182', 'DR1IP183',
       'DR1IP184', 'DR1IP204', 'DR1IP205', 'DR1IP225', 'DR1IP226'],
      dtype='object')

In [21]:
foodconsumption = pd.DataFrame(foodconsumption_data)
foodconsumption.head()

,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
0,73557.0,16888.327864,12930.890649,1.0,1,49,2,2,6,2,...,3.595,0.034,0.001,0.949,0.108,0.0,0.051,0.001,0.0,0.01
1,73557.0,16888.327864,12930.890649,2.0,1,49,2,2,6,2,...,0.000,0.000,0.000,0.004,0.000,0.0,0.000,0.000,0.0,0.00
2,73557.0,16888.327864,12930.890649,3.0,1,49,2,2,6,2,...,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.00
3,73557.0,16888.327864,12930.890649,4.0,1,49,2,2,6,2,...,0.081,0.000,0.000,0.103,0.031,0.0,0.000,0.000,0.0,0.00
4,73557.0,16888.327864,12930.890649,5.0,1,49,2,2,6,2,...,0.026,0.000,0.000,0.024,0.009,0.0,0.000,0.000,0.0,0.00

In [71]:
food_data_abridged = foodconsumption_data[["SEQN", "DR1IFDCD", "DR1IGRMS" ]]
food_data_abridged.head()

      SEQN  DR1IFDCD  DR1IGRMS
0  73557.0  32202075      84.0
1  73557.0  92101000     359.1
2  73557.0  91107000       2.0
3  73557.0  61210250     449.5
4  73557.0  61119010     131.0

In [76]:
food_data_abridged.columns = ['PersonID', 'FoodCode', 'GramsEaten']
food_data_abridged.head()

   PersonID  FoodCode  GramsEaten
0   73557.0  32202075        84.0
1   73557.0  92101000       359.1
2   73557.0  91107000         2.0
3   73557.0  61210250       449.5
4   73557.0  61119010       131.0

In [69]:
food_data_abridged.dtypes

Person ID      float64
Food Code        int64
Grams Eaten    float64
dtype: object

In [82]:
# consolidating the four different filters into one to apply to the data set

def four_food_filter(item_code):
    result = False
    if ((10000000 <= item_code) and (item_code <= 19999999)) and (item_code not in range(11710000, 11740551)) :
        result = True
    elif ((21000100 <= item_code) and (item_code <= 21701020)) :
        result = True
    elif ((24100000 <= item_code) and (item_code <= 24198840)) :
        result = True
    elif ((75202000 <= item_code) and (item_code <= 75202036)) :
        result = True
    return result

# food_data_filter = food_data_abridged.groupby('Food Code').apply(four_food_filter)
food_data_filter = food_data_abridged.FoodCode.apply(four_food_filter)
food_data_filtered = food_data_abridged[food_data_filter]
food_data_filtered.head()

    PersonID  FoodCode  GramsEaten
12   73558.0  11111000       152.5
17   73558.0  11111000       366.0
21   73559.0  11113000       183.0
40   73559.0  14201010       210.0
47   73560.0  11113000       244.0